:root {
  --sl-color-gray-5: hsl(224, 10%, 23%);
  --sl-shadow-sm: 0px 1px 1px hsla(0, 0%, 0%, 0.12), 0px 2px 1px hsla(0, 0%, 0%, 0.24);
  --sl-color-gray-2: hsl(224, 6%, 77%);
}

.VPHero.VPHomeHero {
  @apply my-0 py-0;
}

.VPHero .container {
  padding-block: clamp(1rem, calc(30vh), 20rem);
}

.VPHero .container .VPButton {
  border-radius: 100rem;

  @apply text-sm py-[0.5rem] px-[1rem];
  @apply lg:text-base lg:py-[0.5rem] lg:px-[1.5rem];
}

.VPContent.is-home {
  --overlay-blurple: hsla(255, 60%, 60%, 0.2);

  background: linear-gradient(215deg, var(--overlay-blurple), transparent 40%),
    radial-gradient(var(--overlay-blurple), transparent 40%) no-repeat -60vw -40vh / 105vw 200vh,
    radial-gradient(var(--overlay-blurple), transparent 65%) no-repeat 50% calc(100% + 20rem) / 60rem 30rem;
}
